{% extends "base.html" %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>

            New Trade Analysis

        </h2>

        <hr>

        <form>

            <div class="mb-3">

                <label class="form-label">

                    Upload Screenshots

                </label>

                <input
                    class="form-control"
                    type="file"
                    multiple>

            </div>

            <button class="btn btn-primary">

                Upload

            </button>

        </form>

    </div>

</div>

{% endblock %}